#bg{
width:90%;
}

#header{
//height:100px;
width:calc(90% - 10px);
}

#header #title{
font-size:20px;
margin:0 10px 0 10px;
}

#header #text{font-size:12px;}

#header #logo img{
height:80px;
width:160px;
}

#header #menus li{
width:15%;//80px;
margin:2px;
//margin-top:30px;
}

#header #menus li a{
padding:2px 2px;
height:25px;
font-size:18px;
}

#photo {
border-radius:5px;
-webkit-border-radius:5px;
-moz-border-radius:5px;
height:200px;
}

#content{font-size:14px;}

table.posts td.postts{white-space:nowrap;}

table.adminTable td,th{font-size:12px;}